<div id="helper"></div>
<div class="mymenu-top">
	<div class="outer">
		<div class="inner v-center h-center" style="height: 45px">
			<ul ng-mouseleave="setTab(currentTab)">
			<li>
				<a id="notifications_tab" class="mymenu-tab" ng-click="changeMenuState('notifications')">notifications</a>
				<div class="mymenu-noti-underline"></div>
			</li>
			<li>
				<a id="inbox_tab" class="mymenu-tab" ng-click="changeMenuState('inbox')">inbox</a>
				<div class="mymenu-inbox-underline"></div>
			</li>
			<li>
				<a id="class_tab" class="mymenu-tab" ng-click="changeMenuState('class')">class</a>
				<div class="mymenu-class-underline"></div>
			</li>
			<li>
				<a id="profile_tab" class="mymenu-tab" ng-click="changeMenuState('profile')">profile</a>
				<div class="mymenu-profile-underline"></div>
			</li>
			<li>
				<a id="account_tab" class="mymenu-tab" ng-click="changeMenuState('account')">account</a>
				<div class="mymenu-account-underline"></div>
			</li>
			</ul>
		</div>
	</div>
</div>
<div class="mymenu-line"></div>
<div ng-include src="showMenuContent()" style="margin-bottom:200px"></div>