<div class="container-fluid outer">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">&nbsp;m&nbsp;o&nbsp;n&nbsp;e&nbsp;</a>
	</div>
  <div class="inner v-center">
    <span class="navbar-nav navbar-right">
      <span><button id="mailBoxBtn" class="btn btn-default nav-btn">Mail</button></span>
    	<span><button class="btn btn-default nav-btn">Help</button></span>
    	<span class="dropdown" ng-mouseenter="dropdownShow()" ng-mouseleave="dropdownHide()">
        <button class="btn btn-default nav-dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Hi, {{user.displayName}}
          <span class="caret"></span>
        </button>
        <ul id="navdropdown" class="dropdown-menu nav-margin-dropdownmenu" role="menu" >
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#/m/mymenu?t=notifications&htc=false" ng-click="dropdownHide()"><h5>notifications</h5></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#/m/mymenu?t=inbox&htc=false" ng-click="dropdownHide()"><h5>inbox</h5></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#/m/mymenu?t=class&cst={{subState.cst}}&htc=false" ng-click="dropdownHide()"><h5>class</h5></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#/m/mymenu?t=profile&pst={{subState.pst}}&htc=false" ng-click="dropdownHide()"><h5>profile</h5></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#/m/mymenu?t=account&ast={{subState.ast}}&htc=false"
          ng-click="dropdownHide()"><h5>account</h5></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="moneLogout()"> <h5>logout</h5></a></li>
        </ul>
      </span>
    	<span><a class="btn btn-info nav-btn" href="#/language/new">List Your Language</a></span>
    </span>
  </div>
</div>