<div class="container-fluid outer">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">&nbsp;m&nbsp;o&nbsp;n&nbsp;e&nbsp;</a>
	</div>
  <div class="inner v-center">
    <span class="navbar-nav navbar-right">
    	<span><a class="btn btn-default nav-btn">Help</a></span>
    	<span><a class="btn btn-default nav-btn" ng-click="openLoginModal()">Sign In</a></span>
    	<span><a class="btn btn-info nav-btn" ng-click="listLanguage()">List Your Language</a></span>
    </span>
  </div>
</div>