<div class="container page-container">
	<div class="row">
		<div class="col-xs-3" ng-controller="SubmenuController">
			
			<ul class="common-submenu-list">
			<li>
				<a id="pm" ng-click="setAcSubMenuTab('pm')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=account&ast=pm&htc=false">Payout Method</a>
			</li>
			<li>
				<a id="th" ng-click="setAcSubMenuTab('th')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=account&ast=th&htc=false">Transaction History</a>
			</li>
			<li>
				<a id="sts" ng-click="setAcSubMenuTab('sts')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=account&ast=sts&htc=false">Settings</a>
			</li>
			</ul>
		</div>
		<div class="col-xs-9" style="width: 75%; float: left">
			<div ng-include src="showSubmenuContent()" class="common-submenu-view">
			                 
			</div>
		</div>
	</div>
</div>