<div class="container page-container">
	<div class="row">
		<div class="col-xs-3" ng-controller="SubmenuController">
			
			<ul class="common-submenu-list">
			<li>
				<a id="yl" ng-click="setClSubMenuTab('yl')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=class&cst=yl&htc=false">Your Listings</a>
			</li>
			<li>
				<a id="yt" ng-click="setClSubMenuTab('yt')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=class&cst=yt&htc=false">Your Takers</a>
			</li>
			<li>
				<a id="yg" ng-click="setClSubMenuTab('yg')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=class&cst=yg&htc=false">Your Givers</a>
			</li>
			<li>
				<a id="rm" ng-click="setClSubMenuTab('rm')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=class&cst=rm&htc=false">Request Messages</a>
			</li>
			</ul>
		</div>
		<div class="col-xs-9" style="width: 75%; float: left">
			<div ng-include src="showSubmenuContent()" class="common-submenu-view">
			                 
			</div>
		</div>
	</div>
</div>