<div class="signup-modal-topline"></div>
<div class="signup-modal-header">
	<span class="glyphicon glyphicon-info-sign"></span>
	<div ng-switch on="msgLoaded">
		<h3 ng-switch-when="false"><b>Please wait...</b></h3>	
		<h3 ng-switch-when="true"><b>Guide message</b></h3>	
	</div>
</div>
<div class="signup-modal-body">
	<div class="outer" ng-hide="msgLoaded">
		<div class="inner v-center h-center">
		    <button id="mNotiGuideBtn" class="alert-modal-ok btn btn-default btn-lg ladda-button" data-size="l" data-spinner-color="#9e9e9e" data-style="zoom-in" style="border-color: transparent"><span class="ladda-label"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span></button>
		</div>
	</div>

	<span>
		<p style="line-height: 1.43">{{data.msg}}</p>
	</span>
</div>
