<div class="container page-container" ng-controller="NotiController">
	<div class="row">
		<div class="col-xs-3">
			<div class="profile-panel">
				<div style="display: block; position: relative;">
					<a href="/users/show/30742903" title="프로필 보기"><img alt="Asdasd" class="img-responsive" style="width:100%" src="https://a2.muscache.com/defaults/user_pic-225x225.png?v=2" title="Asdasd"></a>

					<a href="" class="btn btn-full btn-block">
						<span class="glyphicon glyphicon-camera" style="font-size: 12px"></span> &nbsp;Add Profile Photo
					</a>		
				</div>

				<div class="panel-body">
		            <h2 class="text-center">
		            	{{user.displayName}}
		            </h2>
		            <h5 class="text-right">from unknown</h5>
		            <br>
		            <ul class="list-unstyled text-center">
	            	<li>
			            <a href="/users/show/30742903">
			            	View Profile
			            </a>
		            </li>
		            <li>
		                <a href="/users/edit" class="btn btn-danger btn-block text-wrap row-space-top-1" id="edit-profile">Edit Profile</a>
		            </li>
		            </ul>
		        </div>

			</div>
			
		</div>
		<div class="col-xs-9">
			<div class="profile-panel row-space-bottom-6">
				<div style="
	                height: 50px;
	                line-height: 1.43;
	                font-size: 16px;
	                font-weight: 600;
	                padding: 14px 20px;
	            ">Alerts</div>
	            <div style="
	                height: 5px;
	                background-color: #F4EFEF;
	                border-top: 1px solid #BEBEBE;
	                border-bottom: 1px solid #BEBEBE;
	            "></div>

	            <div style="padding: 20px">
	            	<div ng-repeat="msg in noti.alert_msgs" bind-compiled-html="msg">
	            	</div>

					<!-- <p>
		                Please confirm your email address by clicking on the link we just emailed you. If you cannot find the email, you can <a style="cursor: pointer" ng-click="requestNewConfirmEmailUrl()">request a new confirmation email</a> or <a href="#/m/mymenu?t=profile&pst=ep&htc=false">change your email address</a>.
		            </p> -->
	            </div>
			</div>
			<div class="profile-panel">
				<div style="
	                height: 50px;
	                line-height: 1.43;
	                font-size: 16px;
	                font-weight: 600;
	                padding: 14px 20px;
	            ">Messages (0 new)</div>
	            <div style="
	                height: 5px;
	                background-color: #F4EFEF;
	                border-top: 1px solid #BEBEBE;
	                border-bottom: 1px solid #BEBEBE;
	            "></div>
	            <div style="padding: 20px">
					<p>
		              When you message givers or send reservation requests, you’ll see their responses here.
		            </p>
	            </div>
			</div>
		</div>
	</div>
</div>
