<div class="signup-modal-topline"></div>
<div class="signup-modal-header">
	<span class="glyphicon glyphicon glyphicon-info-sign"></span><h3><b>Guide message</b></h3>
</div>
<div class="signup-modal-body">
	<span>
		<p style="line-height: 1.43">{{msg}}</p>
	</span>
</div>
<div ng-switch on="need">
	<div ng-switch-when="email check" class="outer">
			<div class="inner v-center h-center">
			    <a class="alert-modal-ok btn btn-info" href="#/m/mymenu?t=notifications&htc=false" ng-click="confirm()"><b>O&nbsp;&nbsp;&nbsp;K</b></a>
			</div>
	</div>
	
	<div ng-switch-when="profile" class="outer">
			<div class="inner v-center h-center">
			    <a class="alert-modal-ok btn btn-info" href="#/m/mymenu?t=profile&pst=ep&htc=false" ng-click="confirm()"><b>Go to Profile</b></a>
			</div>
	</div>

	<div ng-switch-when="error" class="outer">
			<div class="inner v-center h-center">
			    <a class="alert-modal-ok btn btn-info" href="#" ng-click="confirm()"><b>O&nbsp;&nbsp;&nbsp;K</b></a>
			</div>
	</div>
</div>