<div class="headline"><h1>List Your Language!</h1></div>
<div class="container">
	<form name="lnewForm" class="form-horizontal" ng-submit="addMainStepToLYL()" novalidate>
		<div class="form-group row-space-bottom-6">
            <label for="" class="col-xs-offset-2 col-xs-3 control-label control-label-lg text-semi-bold">I will teach</label>
            <div class="col-xs-4">
                <div class="select">
                    <select name="willTeachLng" class="form-control" data-placeholder="&nbsp;LANGUAGE" chosen disable-search="false" ng-model="mainstep.willTeachLng" ng-options="item.value as item.text for item in willTeachLngItems track by item.id" style="width:325px" ng-disabled="disabled" required>
                    <option value=""></option>
                    </select>
                </div>
            </div>
            <div id="nativeLabel" ng-switch on="mainstep.isNative" class="col-xs-3" style="text-align: left;vertical-align: middle;line-height: 34px;font-size: 24px;display:none">
                <div ng-switch-when="1">
                    <span class="glyphicon glyphicon-ok" style="color: #2ECC71">
                    </span><small style="margin-left: 18px;color:#9E9E9E">You are a native</small>
                </div>
                <div ng-switch-when="0">
                    <span class="glyphicon glyphicon-stop" style="color:#FFD52D">
                    </span><small style="margin-left: 18px;color:#9E9E9E">not a native</small>
                </div>
            </div>
        </div>

        <div class="form-group row-space-bottom-6">
            <label for="" class="col-xs-offset-2 col-xs-3 control-label control-label-lg text-semi-bold">Target</label>
            <div class="col-xs-4 col-xs-3">
                <div class="select">
                    <select name="targetCountry" class="form-control" data-placeholder="&nbsp;COUNTRY" chosen disable-search="false" ng-model="mainstep.targetCountry" ng-options="item.value as item.text for item in targetCountryItems track by item.id" style="width:325px" ng-disabled="disabled" required>
                    <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row-space-bottom-6">
            <label for="" class="col-xs-offset-2 col-xs-3 control-label control-label-lg text-semi-bold">Limit</label>
            <div class="col-xs-4 col-xs-3">
                <div class="select">
                    <select name="limit" class="form-control" data-placeholder="&nbsp;PERSON" chosen disable-search="true" ng-model="mainstep.limit" ng-options="item.value as item.text for item in limitItems track by item.id" style="width:325px" ng-disabled="disabled" required>
                    <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row-space-bottom-6">
            <label for="" class="col-xs-offset-2 col-xs-3 control-label control-label-lg text-semi-bold">Time Zone</label>
            <div class="col-xs-4 col-xs-3">
                <div class="select">
                    <select name="timezone" class="form-control" data-placeholder="&nbsp;REGION" chosen disable-search="false" ng-model="mainstep.timezone" ng-options="item.value as item.text for item in timezoneItems track by item.id" style="width:325px" ng-disabled="disabled" required>
                    <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row-space-bottom-6">
		    <div class="col-xs-offset-7 col-xs-5">
		      <button id="mNewContinueBtn" type="submit" class="btn btn-danger btn-lg ladda-button" data-size="l" data-style="expand-right" ng-disabled="lnewForm.$invalid"><span class="ladda-label">Continue</span></button>
		    </div>
	  	</div>
	</form>
</div>

<!-- dummy 여백 -->
<div style="height:200px">
    
</div>