<div style="position: absolute;right: 65px;top: 72px;z-index: 1">
    <span class="glyphicon glyphicon-eye-open"></span>
    <a style="cursor: pointer;color: #000;font-weight: bold;font-size: 16px;margin-left: 5px">Preview</a>
</div>
<form id="wizard" name="stepsForm" wizard-form>
    <h2>Description</h2>
    <fieldset class="row" style="width: 100%;height: 55em;margin: 0">
        <div class="col-xs-8" style="height: 100%;border-right: 2px solid #E0E0E0">
            <div class="row">
                <div class="col-xs-5">
                    <div style="padding:0 20px;margin: 135px 0px 0px 80px">
                        <h1 style="font-weight: bold">
                            Overview<br><p style="font-size: 0.5em;font-weight: normal;margin-top: 22px;line-height: 1.6">A title and description displayed on your public listing page.</p>
                        </h1>
                    </div>
                </div>
                <div class="col-xs-7" style="height: 100%;padding-right: 70px;margin-top: 80px">
                    <div class="form-group row-space-bottom-6">
                        <label for="title" style="font-weight: normal;font-size: 17px">Title *</label>
                        <input type="text" id="title" name="title" class="form-control required" placeholder="">
                    </div>
                    <div class="form-group row-space-bottom-6">
                        <label for="tagline" style="font-weight: normal;font-size: 17px">Tagline *</label>
                        <input type="text" id="tagline" name="tagline" class="form-control required" placeholder="a brief description of user">
                    </div>
                    <div class="form-group">
                        <label for="class" style="font-weight: normal;font-size: 17px">Class *</label>
                        <textarea id="class" name="class" class="form-control required" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="background-color: #fff;height: 100%">
            <h3>
              <span class="glyphicon glyphicon-flash" style="
                color: #ffd52d"></span>
                 This is Description's help-text.
            </h3>
        </div>
    </fieldset>

    <h2>Pricing</h2>
    <fieldset class="row" style="width: 100%;height: 47em;margin: 0">
        <div class="col-xs-8" style="height: 100%;border-right: 2px solid #E0E0E0">
            <div class="row">
                <div class="col-xs-5">
                    <div style="padding:0 20px;margin: 135px 0px 0px 80px">
                        <h1 style="font-weight: bold">
                            Base Price<br><p style="font-size: 0.5em;font-weight: normal;margin-top: 22px;line-height: 1.6">Set the default monthly price guests will see for your listing.</p>
                        </h1>
                    </div>
                </div>
                <div class="col-xs-7" style="height: 100%;padding-right: 70px;margin-top: 80px">
                    <div class="form-group row-space-bottom-6">
                        <label for="price" style="font-weight: normal;font-size: 17px">Per monthly *</label>
                        <div class="input-group col-xs-5">
                            <div class="input-group-addon" style="height:34px">$</div>
                            <input type="number" id="price" name="price" ng-model="listingLng.price" class="form-control required" min="0.00" max="2500.00" placeholder="" price-formatter>
                        </div>
                    </div>

                    <div class="form-group row-space-bottom-6">
                        <label for="currency" style="font-weight: normal;font-size: 17px">Currency *</label>
                        <div class="input-group col-xs-5">
                            <div class="select">
                                <select class="form-control required" name="currency" chosen disable-search="true" style="width:215px">
                                <option value="USD" selected="selected">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="background-color: #fff;height: 100%">
            <h3>
              <span class="glyphicon glyphicon-flash" style="
                color: #ffd52d"></span>
                 This is Pricing's help-text.
            </h3>
        </div>
    </fieldset>

    <h2>Schedule</h2>
    <fieldset class="row" style="width: 100%;height: 62em;margin: 0">
        <div class="col-xs-8" style="height: 100%;border-right: 2px solid #E0E0E0">

            <div class="row">
                <div style="width: 700px; margin:60px auto 0">
                    <h1 style="font-weight: bold">
                        Choose your availability!
                        <br>
                        <p style="font-size: 0.5em;font-weight: normal;margin-top: 22px;line-height: 1.6"> 
                            This is your calendar! After listing your language, return here to update your availability.
                        </p>
                    </h1>
                    <div>
                        <label for="schedule"></label>
                        <input type="hidden" id="schedule" name="schedule" class="not-ignore" />
                    </div>
                </div>

                
                <div id="scheduleView" style="max-width: 700px;margin: 0 auto"></div>
            </div>

        </div>
        <div class="col-xs-4" style="background-color: #fff;height: 100%">
            <h3>
              <span class="glyphicon glyphicon-flash" style="
                color: #ffd52d"></span>
                 This is Schedule's help-text.
            </h3>
        </div>
    </fieldset>

    <h2>Course Plan</h2>
    <fieldset class="row" style="width: 100%;height: 62em;margin: 0">
        <div class="col-xs-8" style="height: 100%;border-right: 2px solid #E0E0E0">
            <div class="row">
                <div style="width: 700px; margin:60px auto 0">
                    <h1 style="font-weight: bold">
                        Make your own course plan!
                        <br>
                        <p style="font-size: 0.5em;font-weight: normal;margin-top: 22px;line-height: 1.6"> 
                            This is your calendar! After listing your language, return here to update your plan.
                        </p>
                    </h1>
                    <div>
                        <label for="curriculum"></label>
                        <input type="hidden" id="curriculum" name="curriculum" class="not-ignore" />
                    </div>
                </div>

                
                <div id="curriculumView" style="max-width: 700px;margin: 0 auto"></div>
            </div>
        </div>
        <div class="col-xs-4" style="background-color: #fff;height: 100%">
            <h3>
              <span class="glyphicon glyphicon-flash" style="
                color: #ffd52d"></span>
                 This is Course Plan's help-text.
            </h3>
            <hr>
            <div id="curri_container"></div>
    </fieldset>
    
    <h2>Photo</h2>
    
    <fieldset class="row" style="width: 100%;height: 47em;margin: 0">
        <div class="col-xs-8" style="height: 100%;border-right: 2px solid #E0E0E0;padding:0">
            <div style="width: 700px; margin:60px auto 0">
                <h1 style="font-weight: bold">
                    Add a Photo!
                    <br>
                    <p style="font-size: 0.5em;font-weight: normal;margin-top: 22px;line-height: 1.6"> 
                         and edit a photo to promote your listing.
                    </p>
                </h1>
            </div>
            <div id="photo_upload_container"></div>
            <!-- <div style="height: 360px;background-color: #fff;padding: 70px 20px 0px 50px;">
                <div id="photo_upload_container" ng-click="uploadPhoto()" style="height: 80%;width: 315px;float: left;background-color: #FFF;border: 3px dotted #C5BCBC">
                    <div style="height: 15px;padding: 20px;">
                        <span class="glyphicon glyphicon-plus" style="float: right;font-size: 20pt;color: #5e5e5e"></span>
                    </div>
                    <div style="width: 1%;margin: auto">
                        <span class="glyphicon glyphicon-picture" style="font-size: 77pt;color: #5E5E5E"></span>
                    </div>
                    <h2 style="text-align: center;font-weight: normal">Add a Photo</h2>
                </div>
            </div> -->
        </div>
        <div class="col-xs-4" style="background-color: #fff;height: 100%">
            <h3>
              <span class="glyphicon glyphicon-flash" style="color: #ffd52d"></span>
                This is Photo's help-text.
            </h3>
        </div>
    </fieldset>

    <h2>Voice Upload</h2>
    <fieldset class="row" style="width: 100%;height: 47em;margin: 0">
        <div class="col-xs-8" style="height: 100%;border-right: 2px solid #E0E0E0"></div>
        <div class="col-xs-4" style="background-color: #fff;height: 100%"></div>
    </fieldset>
</form>