﻿<!DOCTYPE html>
<html lang="en" ng-controller="CommonController" >
<head>
<!--[if IE]>
<style type="text/css">
.mymenu-top ul {
  top: 0px !important;
}
</style>
<![endif]-->
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<title>Welcome to Mone</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
	<link href="css/app.css" type="text/css" rel="stylesheet" />
  <link href="css/chosen.css" type="text/css" rel="stylesheet" />
  <link href="css/chosen-spinner.css" type="text/css" rel="stylesheet" />
  <link href="css/magic-bootstrap.css" type="text/css" rel="stylesheet" />
  <link href="css/bootstrap-chosen.css" rel="stylesheet" />
  <link href="css/ladda-themeless.min.css" rel="stylesheet" /> 
  <link href="css/jquery.steps.css" rel="stylesheet" /> 
  
	<!-- <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/> -->

  <!-- <link rel="stylesheet" href="css/ngDialog.css">
  <link rel="stylesheet" href="css/ngDialog-theme-plain.css"> -->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link ng-repeat="stylesheet in stylesheets" ng-href="{{stylesheet}}" type="text/css" rel="stylesheet" />
	<script>
// IE10에서는 conditional commnets 지원하지 않아, 우회한 방법 (how to use in css: html[data-useragent*='MSIE 10.0'] element {property:value })
var doc = document.documentElement;
doc.setAttribute('data-useragent', navigator.userAgent);

	//ie9에서 console.log가 개발자도구를 일단 한 번 실행하면 페이지가 정상하지만, 그렇지 않다면 undefined되어 페이지가 정상동작하지 않음. 아래는 해결 방안
(function() {
    var method;
    var noop = function () {};
    var methods = [
        'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
        'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
        'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
        'timeStamp', 'trace', 'warn'
    ];
    var length = methods.length;
    var console = (window.console = window.console || {});

    while (length--) {
        method = methods[length];

        // Only stub undefined methods.
        if (!console[method]) {
            console[method] = noop;
        }
    }
}());
	</script>
</head>
<body>
<!-- 네비게이션바 시작 -->
<nav ng-include="nav.currentTpl" class="navbar navbar-default" ng-controller="NavbarController">

	
</nav>
<!-- 네비게이션바 종료 -->

<div ng-view>
  
</div>

<script data-main="js/main" src="lib/require/require.js"></script>
</body>
</html>