/* app css stylesheet */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
html {
  overflow: scroll;
}
* { 
  text-rendering: auto !important; 
}
a {
  outline: 0 !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
    display: none;
}
textarea {
   resize: none;
}
.p-text{
  color: #565a5c;
  margin: 0px;
}
.select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
.btn.btn-full.btn-block {
  position: absolute;
  bottom: 0px;
}
.btn-full {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF !important;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-full:hover {
    background: #356094;
    text-decoration: none;
    color: #FFF !important;
}

.btn-full:active {
    background: #2E5481;
    color: #FFF !important;
}

.row-space-top-1 {
  margin-top: 6.25px;
}
.row-space-top-2 {
  margin-top: 12.5px;
}
.row-space-top-3 {
  margin-top: 18.75px;
}
.row-space-top-4 {
    margin-top: 25px;
}
.row-space-top-5 {
    margin-top: 31.25px;
}
.row-space-top-6 {
    margin-top: 37.5px;
}
.row-space-bottom-1 {
  margin-bottom: 6.25px;
}
.row-space-bottom-2 {
  margin-bottom: 12.5px;
}
.row-space-bottom-3 {
  margin-bottom: 18.75px;
}
.row-space-bottom-4 {
    margin-bottom: 25px;
}
.row-space-bottom-5 {
    margin-bottom: 31.25px;
}
.row-space-bottom-6 {
    margin-bottom: 37.5px !important;
}
.col-xs-2 {
  padding-right: 0px !important;
}
.page-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.text-semi-bold {
  font-weight: 600;
  color: #565a5c;
}
.text-muted {
  color: #82888a;
  font-size: 13px;
}
.outer {
	display: table;
	width: 100%;
	height: 100%;
}
.inner {
	width: 100%;
	display: table-cell;
}
.v-center {
  vertical-align: middle;
}
.h-center {
  text-align: center;
}
span.navbar-nav.navbar-right span a.btn.btn-info{
  margin-right: 20px;
}
.nav-btn {
  margin: 0 4px;
  display: inline-block !important;
}
.nav-dropdown-btn {
  margin: 0 4px;
  display: inline-block !important;
  width: 160px;
}
.navbar-nav .btn-info.nav-btn {
  font-weight: bold !important;
}
.nav-margin-dropdownmenu {
  margin-top: 8px !important;
  right: 7px !important;
}

.submit-error {
  border-color: #b94a48 !important;
}
.submit-error:focus {
  /* border-color: #953b39 !important; */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
}
.has-normal:focus {
  border-color: #66afe9 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6) !important;
}
.has-normal {
  border-color: #ccc !important;
}
/* .has-normal .form-control:focus {
  border-color: #66afe9 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6) !important;
}
.has-normal .form-control {
  border-color: #ccc !important;
} */
select.form-control.submit-error + .chosen-container.chosen-container-single .chosen-single {
  border-color: #b94a48;
}
select.form-control.has-normal + .chosen-container.chosen-container-single.chosen-container-active .chosen-single {
  border-color: #66afe9 !important;
}
select.form-control.has-normal + .chosen-container.chosen-container-single .chosen-single {
  border-color: #ccc !important;
}

/*
*********************
*******customizing login modal********
*********************
*/
.login-modal-container {
  position: relative;
  width: 100%;
  /* height: 470px; */
  padding-left: 5px;
  padding-right: 5px;
}
.top-container {
  height: 220px;
}
.bottom-container {
  height: 250px;
}
.login-modal-form-email {
  background-position: right center;
  background-image: url('../img/email.png') !important;
  background-repeat: no-repeat;
}
.login-modal-form-pwd {
  background-position: right center;
  background-image: url('../img/lock.png') !important;
  background-repeat: no-repeat;
}
.login-modal-alertbox {
  min-height: 30px;
  padding: 15px 35px 0px 35px;
  display: none;
}
.login-modal-alertbox h5 {
    font-weight: 600;
    color: orange !important;
    text-align: left;
    margin: 0 0 0 5px;
    vertical-align: 2px;
    display: inline;
}
span.icon-g {
  background: url('../img/btn_g_32.png') transparent 10px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 28px;
}
span.icon-f {
  background: url('../img/btn_fb_32.png') transparent 10px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 28px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 40px;
}
div#fSigninBtn {
  margin-bottom: 30px;
}
div#gSigninBtn {
  margin-bottom: 10px;
}
div#fSigninBtn, div#gSigninBtn {
  width: 266px;
  height: 40px;
}
a#mSigninBtn{
  width: 266px;
  margin-bottom: 20px;
}
a#mSignupBtn{
  margin: 28px 28px 0 0;
}
.login-cross-line {
  height: 2px;
  background: #CCC;
  margin-top: 30px;
  position: relative;
  border-radius: 1px;
}
.or-text {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 175px;
  background: #fff;
  line-height: 44px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif, "Helvetica Neue",Helvetica;
  font-size: 18px;
}
#mailBoxBtn, #accountBtn {
  display: none;
}
.headline {
  height: 240px;
  margin-bottom: 80px;
  border-bottom: 2px solid #ccc;
}
.sp-help-block-margin {
  height: 20px;
  padding-left: 6px;
  padding-top: 3px;
}
p.help-block {
  margin: 0px;
}

/************************************************************************************************************************************************
alertDailog.html define css start
************************************************************************************************************************************************/
.alert-modal-topline{
  height: 4px;
  background-color: orangered;
}
.alert-modal-header{
  height: 42px;
  width: 100%;
  display: table;
  padding-left: 15px;
  padding-top: 15px;
}
.alert-modal-header span{
  font-size: 27px;
  color: orangered;
  vertical-align: middle;
  display: table-cell;
  width: 38px;
}
.alert-modal-header h3{
  color: orangered;
  vertical-align:  middle;
  display: table-cell;
}
.alert-modal-body{
  height: 88px;
  width: 100%;
  display: table;
}
.alert-modal-body h4{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.alert-modal-ok{
  margin-bottom: 22px !important;
}
/* alertDailog.html define css end */

/************************************************************************************************************************************************
signupOkDialog.html define css start
************************************************************************************************************************************************/
.signup-modal-topline{
  height: 4px;
  background-color: #FFD52D;
}
.signup-modal-header{
  height: 42px;
  display: table;
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
}
.signup-modal-header span{
  font-size: 27px;
  color: #FFD52D;
  vertical-align: middle;
  display: table-cell;
  width: 38px;
}
.signup-modal-header h3{
  color: black;
  vertical-align: middle;
  display: table-cell;
}
.signup-modal-body{
  height: 180px;
  display: table;
  width: 100%;
  padding: 25px;
}
.signup-modal-body h4{
  text-align: center;
  vertical-align: middle;;
  display: table-cell;
}
/* ignupOkDialog.html define css end */

/************************************************************************************************************************************************
loginDailog.html define css start
************************************************************************************************************************************************/
.login-modal-remember{
  margin-left: 16px;
  display: block !important;
  font-weight: 200 !important;
  font-size: 13px;
}
.login-modal-remember input{
  top: 1px;
  position: relative;
}
.login-modal-forgotpassword{
  position: relative !important;
  top: 7px;
  font-size: 13px;
}
.login-modal-signinbtn {
  width: 130px;
}
/* loginDailog.html define css end */

/************************************************************************************************************************************************
mymenu.html define css start
************************************************************************************************************************************************/
.mymenu-top{
  background-color: #ffffff;
  height: 45px;
}
.mymenu-outer{
  display: table;
  width: 100%;
  height: 100%;
}
.mymenu-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mymenu-top ul {
  display: inline-block;
  position: relative;
  list-style-type: none; 
  margin: 0px; 
  padding: 0px; 
  overflow: hidden;
  height: 100%;
  top: 3px;
}
html[data-useragent*='MSIE 10.0'] .mymenu-top ul {
  top: 0px !important;
}
.mymenu-top ul li {
  float:left;
}
.mymenu-tab {
  display:block; 
  width: 140px;
  text-decoration: none !important;
  cursor: pointer;
  color: #6C5E5E;
  position: relative;
  padding-top: 13px;
  font-size: 15.5px;
}
a.mymenu-tab:hover {
  color: #000 !important;
}
.mymenu-noti-underline {
  width: 0px;
  height: 4px;
  position: relative;
  left: 70px;
  top: 7px;
  background-color: #000;
}
.mymenu-inbox-underline {
  width: 0px;
  height: 4px;
  position: relative;
  left: 70px;
  top: 7px;
  background-color: #000;
}
.mymenu-class-underline {
  width: 0px;
  height: 4px;
  position: relative;
  left: 70px;
  top: 7px;
  background-color: #000;
}
.mymenu-profile-underline {
  width: 0px;
  height: 4px;
  position: relative;
  left: 70px;
  top: 7px;
  background-color: #000;
}
.mymenu-account-underline {
  width: 0px;
  height: 4px;
  position: relative;
  left: 70px;
  top: 7px;
  background-color: #000;
}
.mymenu-line{
  background-color: #9D9D9D;
  height: 1px;
}


/* mymenu.html define css end */

/************************************************************************************************************************************************
notifications.html define css start
************************************************************************************************************************************************/

/* notifications.html define css end */

/************************************************************************************************************************************************
profile.html define css start
************************************************************************************************************************************************/

.common-submenu-list {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.common-submenu-list li {
  margin-bottom: 20px;
}

ul.common-submenu-list > li > a {
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
  color: #82888a;
}

#viewProfileBtn {
  margin-top: 30px;
  font-weight: bold !important;
}

.common-submenu-view {
  width: 100%;
  border: 1px solid #BEBEBE;
  border-radius: 2px;
}

.profile-panel {
  width: 100%;
  border: 1px solid #BEBEBE;
  border-radius: 0px;
  background: #FFF;
}
/* notifications.html define css end */

.tabs-glyphicon {
  font-size: 17px;
  margin-left: 8px;
  top:4px !important;
}

.tabs-glyphicon.done {
  color: #2ECC71;
}

.tabs-glyphicon.disabled {
  color: #34495E;
}