<div class="alert-modal-topline"></div>
<div class="alert-modal-header">
	<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span><h3><b>warning</b></h3>
</div>
<div class="alert-modal-body">
	<h4 class="ng-binding">{{data.msg}}</h4>
</div>
<div class="outer">
	<div class="inner v-center h-center">
	    <a class="alert-modal-ok btn btn-info" ng-click="confirm()"><b>O&nbsp;&nbsp;&nbsp;K</b></a>
	</div>
</div>