<div class="signup-modal-topline"></div>
<div class="signup-modal-header">
	<span class="glyphicon glyphicon-star"></span><h3><b>Welcome to Mone</b></h3>
</div>
<div class="signup-modal-body">
	<span>
		<p style="line-height: 1.43">Hi, {{user.displayName}}!<br>&nbsp;Before you start, you need to activate your email account. A confirmation email has been sent to <mark>{{user.email}}</mark>. After complete to verify email address, you can use this service freely.</p>
	</span>
</div>