
<div class="headline"></div>
<div class="container">
	<form name="userForm" class="form-horizontal" ng-submit="!isAlertOpened && moneSignup()" novalidate>
	  <div class="form-group has-feedback">
	    <label for="s_email" class="col-xs-offset-1 col-xs-2 control-label">Email</label>
	    <div class="col-xs-offset-0 col-xs-7 col-xs-offset-2" ng-class="{'has-success': userForm.s_email.$valid && userForm.s_email.$dirty, 'has-error': userForm.s_email.$invalid && !userForm.s_email.$pristine}">
	        <input type="email" class="form-control" name="s_email" placeholder="your-email@example.com" ng-maxlength="50" ng-model="signup.email" auto-focus="{{focus}}" autocomplete="off" required>
	        <span ng-show="userForm.s_email.$valid && !userForm.s_email.$error.required" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<div class="sp-help-block-margin">
				<p ng-show="userForm.s_email.$invalid && userForm.s_email.$dirty" class="help-block">{{emailErrorText}}</p>
				<p ng-show="userForm.s_email.$error.maxlength" class="help-block">Sorry. You are exceeding the limit.</p>
			</div>
	    </div>
	  </div>
	  <div class="form-group has-feedback">
	    <label for="s_pwd" class="col-xs-offset-1 col-xs-2 control-label">Password</label>
	    <div class="col-xs-offset-0 col-xs-7 col-xs-offset-2" ng-class="{'has-success': userForm.s_pwd.$valid && userForm.s_pwd.$dirty, 'has-error': userForm.s_pwd.$invalid && !userForm.s_pwd.$pristine}">
	      <input type="password" class="form-control" name="s_pwd" id="pwd" placeholder="enter your password." ng-model="signup.pwd" ng-minlength="6" ng-maxlength="20" autocomplete="off" required>
	      <span ng-show="userForm.s_pwd.$valid && !userForm.s_pwd.$error.required" class="glyphicon glyphicon-ok form-control-feedback"></span>
	      <div class="sp-help-block-margin">
		      <p ng-show="userForm.s_pwd.$error.minlength" class="help-block">Your password must be at leat 6 characters.</p>
		      <p ng-show="userForm.s_pwd.$error.maxlength" class="help-block">Sorry, the password cannot exceed 20 characters.</p>
	      </div>
	    </div>
	  </div>
	  <div class="form-group has-feedback">
	    <label for="pwd2" class="col-xs-offset-1 col-xs-2 control-label"></label>
	    <div class="col-xs-offset-0 col-xs-7 col-xs-offset-2"  ng-class="{'has-success': userForm.pwd2.$valid && userForm.pwd2.$dirty, 'has-error': userForm.pwd2.$invalid && !userForm.pwd2.$pristine}">
	      <input type="password" class="form-control" name="pwd2" id="pwd2" placeholder="confirm your password." ng-model="signup.pwd2" ng-minlength="6" ng-maxlength="20" compare-to="pwd" autocomplete="off" required>
	      <span ng-show="userForm.pwd2.$valid && !userForm.pwd2.$error.required" class="glyphicon glyphicon-ok form-control-feedback"></span>
	      <div class="sp-help-block-margin">
		      <p ng-show="userForm.pwd2.$error.minlength" class="help-block">Your password must be at leat 6 characters.</p>
		      <p ng-show="userForm.pwd2.$error.maxlength" class="help-block">Sorry, the password cannot exceed 20 characters.</p>
		      <p ng-show="!userForm.pwd2.$error.minlength && !userForm.pwd2.$error.maxlength && userForm.pwd2.$error.compareTo && !userForm.pwd2.$error.required" class="help-block">Must match the previous password.</p>
		  </div>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-xs-offset-8 col-xs-4">
	      <button id="mSignupBtn" type="submit" class="btn btn-danger btn-lg ladda-button" data-size="l" data-style="expand-right" ng-disabled="userForm.$invalid"><span class="ladda-label">Sign Up</span></button>
	    </div>
	  </div>
	</form>
</div>