<div class="login-modal-container" >
	<div class="login-modal-alertbox">
		<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
		<h5>{{warningMsg}}</h5>
	</div>
	<div class="top-container">
		<div class="outer">
			<div class="inner v-center h-center">
				<div id="fSigninBtn" class="btn btn-primary" ng-click="fbLogin()"><span class="icon-f"></span><span class="buttonText">Sign in with Facebook</span></div>
				<div google-plus-signin></div>		

				<div class="login-cross-line">
					<div class="or-text">O R</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-container">
		<form name="loginForm" class="form-horizontal" ng-submit="moneLogin()" novalidate>
		    <div class="form-group">
		        <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1" ng-class="{'has-success': loginForm.email.$valid && loginForm.email.$dirty, 'has-error': loginForm.email.$invalid && !loginForm.email.$pristine}">
		            <input type="email" name="email" class="form-control login-modal-form-email" placeholder="Email" ng-model="login.email" auto-focus="{{focus}}" required>
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1" ng-class="{'has-success': loginForm.pwd.$valid && loginForm.pwd.$dirty, 'has-error': loginForm.pwd.$invalid && !loginForm.pwd.$pristine}">
		            <input type="password" name="pwd" class="form-control login-modal-form-pwd" placeholder="Password" ng-model="login.pwd" ng-minlength="6" ng-maxlength="20"required>
		        </div>
		    </div>
		  <div class="form-group">
			  	<div>
			        <div class="checkbox col-xs-offset-1 col-xs-5 ">
			            <label class="login-modal-remember">
			            <input type="checkbox" ng-model="login.remember"> Remember me
			            </label>
			        </div> 
			        <a href="" class="col-xs-offset-1 col-xs-5 login-modal-forgotpassword">Forgot password?</a>
			    </div>
		  </div>
		  <div class="outer">
		    <div class="inner v-center h-center">
				<div class="form-group">
					<button id="mSigninBtn" type="submit" class="btn btn-default login-modal-signinbtn ladda-button" data-size="s" data-style="expand-right" data-spinner-color="#9e9e9e"><span class="ladda-label">S I G N&nbsp;&nbsp; I N</span></button>	
				</div>
		        <div><h5><b>Don't have an account yet?</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/signup" ng-click="closeThisDialog('가입하러감')">Sign up</a></h5></div>
		    </div>
		  </div>
		</form>
	</div>

</div>

