<div class="container page-container">
	<div class="row">
		<div class="col-xs-3" ng-controller="SubmenuController">
			
			<ul class="common-submenu-list">
			<li>
				<a id="ep" ng-click="setPfSubMenuTab('ep')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=profile&pst=ep&htc=false">Edit Profile</a>
			</li>
			<li>
				<a id="pts" ng-click="setPfSubMenuTab('pts')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=profile&pst=pts&htc=false">Photos</a>
			</li>
			<li>
				<a id="rvs" ng-click="setPfSubMenuTab('rvs')" ng-mouseover="twinkle($event, true)" ng-mouseleave="twinkle($event, false)" href="#/m/mymenu?t=profile&pst=rvs&htc=false">Reviews</a>
			</li>
			</ul>
			<a class="btn btn-default btn-lg" id="viewProfileBtn">View Profile</a>
			
		</div>
		<div class="col-xs-9" style="width: 75%; float: left">
			<div ng-include src="showSubmenuContent()">
			                 
			</div>
		</div>
	</div>
</div>