<div ng-controller="EditProfileController">
    <!-- <div id="helper"></div> -->
    <div class="alert alert-warning" ng-show="isInvalid">
        <strong><span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;Invalid</strong>
        &nbsp;&nbsp;&nbsp;&nbsp; Your Skype's ID does not exist. If you are not registerd, please sign up with Skype.
    </div>

    <form name="pfForm" class="form-horizontal" ng-submit="saveProfile()" novalidate>
        <fieldset ng-disabled="disabled">
        <div class="common-submenu-view" style="margin-bottom: 50px">
            <div style="
                height: 50px;
                line-height: 1.43;
                font-size: 16px;
                font-weight: 600;
                padding: 14px 20px;
            ">Required</div>
            <div style="
                height: 5px;
                background-color: #F4EFEF;
                border-top: 1px solid #BEBEBE;
                border-bottom: 1px solid #BEBEBE;
            "></div>

            <div style="padding: 20px">
            
                <div class="form-group row-space-bottom-4">
                    <label for="inputEmail3" class="col-xs-3 control-label text-semi-bold">First Name</label>
                    <div class="col-xs-9" ng-class="{'has-error': pfForm.firstName.$invalid && !pfForm.firstName.$pristine}">
                        <input type="text" class="form-control" ng-class="{'has-normal': pfForm.firstName.$valid && pfForm.firstName.$dirty, 'submit-error': validation.cantSubmit_firstName}" name="firstName" placeholder="" ng-maxlength="45" ng-model="profile.firstName" required>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Last Name</label>
                    <div class="col-xs-9" ng-class="{'has-error': pfForm.lastName.$invalid && !pfForm.lastName.$pristine}">
                        <input type="text" class="form-control" ng-class="{'has-normal': pfForm.lastName.$valid && pfForm.lastName.$dirty, 'submit-error': validation.cantSubmit_lastName}" name="lastName" placeholder="" ng-maxlength="45" ng-model="profile.lastName" required>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">I am &nbsp;<span class="glyphicon glyphicon-lock"></span></label>
                    <div class="col-xs-9">
                        <div class="select" ng-class="{'has-error': pfForm.gender.$invalid && !pfForm.gender.$pristine}">
                            <select class="form-control" ng-class="{'has-normal': pfForm.gender.$valid && pfForm.gender.$dirty, 'submit-error': validation.cantSubmit_gender}" name="gender" data-placeholder="Gender" chosen disable-search="true" ng-model="profile.gender" ng-options="item.value as item.text for item in genderItems track by item.id" style="width:125px" ng-disabled="disabled" required>
                            <option value=""></option>
                            </select>
                        </div>
                        <div class="text-muted row-space-top-1">We use this data for analysis and never share it with other users.</div>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Birth Date &nbsp;<span class="glyphicon glyphicon-lock"></span>
                    </label>
                    <div class="col-xs-9">
                        <div class="select" ng-class="{'has-error': pfForm.month.$invalid && !pfForm.month.$pristine}">
                            <select class="form-control" ng-class="{'has-normal': pfForm.month.$valid && pfForm.month.$dirty, 'submit-error': validation.cantSubmit_month}" name="month" data-placeholder="Month" chosen disable-search="true" ng-model="profile.month" ng-options="item.value as item.text for item in monthItems track by item.id" style="width:125px" ng-disabled="disabled" required>
                            <option value=""></option>
                            </select>
                        </div>
                        <div class="select" ng-class="{'has-error': pfForm.day.$invalid && !pfForm.day.$pristine}">
                            <select class="form-control" ng-class="{'has-normal': pfForm.day.$valid && pfForm.day.$dirty, 'submit-error': validation.cantSubmit_day}" name="day" data-placeholder="Day" chosen disable-search="true" ng-model="profile.day" ng-options="item.value as item.text for item in dayItems track by item.id" style="width:100px" ng-disabled="disabled" required>
                            <option value=""></option>
                            </select>
                        </div>
                        <div class="select" ng-class="{'has-error': pfForm.year.$invalid && !pfForm.year.$pristine}">
                            <select class="form-control" ng-class="{'has-normal': pfForm.year.$valid && pfForm.year.$dirty, 'submit-error': validation.cantSubmit_year}" name="year" data-placeholder="Year" chosen disable-search="true" ng-model="profile.year" ng-options="item.value as item.text for item in yearItems track by item.id" style="width:105px" ng-disabled="disabled" required>
                            <option value=""></option>
                            </select>
                        </div>
                        <div class="text-muted row-space-top-1">The magical day you were dropped from the sky by a stork. We use this data for analysis and never share it with other users.</div>
                    </div>
                </div>
                
                <div class="form-group row-space-bottom-4">
                    <label for="email" class="col-xs-3 control-label text-semi-bold">Email</label>
                    <div class="col-xs-9" >
                        <input type="email" class="form-control" ng-class="{'has-normal': pfForm.email.$valid && pfForm.email.$dirty, 'submit-error': validation.cantSubmit_email}" name="email" ng-maxlength="50" ng-model="profile.email" ng-disabled="user.emailConfirm == 1" required>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Nationality</label>
                    <div class="col-xs-9">
                        <div class="select" ng-class="{'has-error': pfForm.nationality.$invalid && !pfForm.nationality.$pristine}">
                            <select class="form-control" ng-class="{'has-normal': pfForm.nationality.$valid && pfForm.nationality.$dirty, 'submit-error': validation.cantSubmit_nationality}" name="nationality" data-placeholder="Choose Your Country" chosen disable-search="false" ng-model="profile.nationality" ng-options="item.value as item.text for item in nationalityItems track by item.id" style="width:260px" ng-disabled="disabled" required>
                            <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Where You Live</label>
                    <div class="col-xs-9" ng-class="{'has-error': pfForm.city.$invalid && !pfForm.city.$pristine}">
                        <input type="text" class="form-control" ng-class="{'has-normal': pfForm.city.$valid && pfForm.city.$dirty, 'submit-error': validation.cantSubmit_city}" name="city" placeholder="e.g. Paris, FR / Brooklyn, NY / Chicago, IL" ng-model="profile.city" required>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Language</label>
                    <div class="col-xs-9">
                        <div class="select" ng-class="{'has-error': pfForm.firstLng.$invalid && !pfForm.firstLng.$pristine}">
                            <select class="form-control" ng-class="{'has-normal': pfForm.firstLng.$valid && pfForm.firstLng.$dirty, 'submit-error': validation.cantSubmit_firstLng}" name="firstLng" data-placeholder="Choose Your First Language" chosen disable-search="false" ng-model="profile.firstLng" ng-options="item.value as item.text for item in firstLngItems track by item.id" style="width:260px" ng-disabled="disabled" required>
                            <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4 has-feedback">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Skype ID</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="text" class="form-control" name="skype_username" placeholder="" ng-class="{'has-normal': (validation.cantSubmit_skype_username && pfForm.skype_username.$dirty) || pfForm.skype_username.$valid, 'submit-error': validation.cantSubmit_skype_username}" ng-model="profile.skype_username" skype-username-validity required>
                                <span class="has-success">
                                    <span ng-show="pfForm.skype_username.$valid && !pfForm.skype_username.$error.required" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </span>
                            </div>
                            <div class="col-xs-2">
                                <a id="verifyBtn" class="btn btn-warning ladda-button" data-size="xs" data-style="zoom-out" ng-click="verifySkypeUserName(profile.skype_username)"><span class="ladda-label">Verify</span></a>
                            </div>
                        </div>
                        <div class="text-muted row-space-top-1">
                            Don't have Skype's account yet? 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://login.skype.com/account/signup-form" target="_blank" style="font-size: 15px">Sign up</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="common-submenu-view">
            <div style="
                height: 50px;
                line-height: 1.43;
                font-size: 16px;
                font-weight: 600;
                padding: 14px 20px;
            ">Optional</div>
            <div style="
                height: 5px;
                background-color: #F4EFEF;
                border-top: 1px solid #BEBEBE;
                border-bottom: 1px solid #BEBEBE;
            "></div>

            <div style="padding: 20px">
                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">You Are Interested In</label>
                    <div class="col-xs-9">
                        <select class="form-control" name="yaiLngs" data-placeholder="&nbsp;&nbsp;- n o n e " chosen no-results-text="'No results...'" ng-model="profile.yaiLngs" ng-options="item.value as item.text for item in yaiLngsItems" ng-disabled="disabled" multiple>
                        <option value=""></option>
                        </select>
                        <div class="text-muted row-space-top-1">If you add languages you are interested in, it'll helps users to find you.
                        </div>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Languages</label>
                    <div class="col-xs-9">
                        <select class="form-control" name="secondLngs" data-placeholder="&nbsp;&nbsp;- n o n e "  chosen allow-single-deselect="true" no-results-text="'No results...'" ng-model="profile.secondLngs" ng-options="item.value as item.text for item in secondLngsItems" ng-disabled="disabled" multiple>
                        <option value=""></option>
                        </select>
                        <div class="text-muted row-space-top-1">
                            Add second languages you can speak.
                        </div>
                    </div>
                </div>

                <div class="form-group row-space-bottom-4">
                    <label for="" class="col-xs-3 control-label text-semi-bold">Time Zone</label>
                    <div class="col-xs-9">
                        <select class="form-control" name="timezone" data-placeholder="Choose Your Time Zone" chosen disable-search="false" ng-model="profile.timezone" ng-options="item.value as item.text for item in timezoneItems track by item.id" ng-disabled="disabled">
                        <option value=""></option>
                        </select>
                        <div class="text-muted row-space-top-1">
                            Set your home time zone.
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="form-group row-space-top-6">
            <div class="col-xs-offset-9 col-xs-3">
              <button id="profileSaveBtn" type="submit" class="btn btn-danger btn-lg ladda-button" data-size="l" data-style="expand-right"><span class="ladda-label">S a v e</span></button>
            </div>
        </div>
        </fieldset>
    </form>

</div>